@using MvcNavigation

<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/css/master.css")" rel="stylesheet" type="text/css" />
</head>
	<body>
		<div class="navigation">
			<pre><code>Default navigation: @@Html.Menu()</code></pre>
			@Html.Menu()
		</div>
		<div class="navigation">
			<pre><code>Default navigation (rendered via partial view): @@Html.Menu()</code></pre>
			@{ Html.RenderPartial("HeaderContainer"); }
		</div>
		<div class="navigation">
			<pre><code>Default navigation (rendered via child action): @@Html.Menu()</code></pre>
			@{ Html.RenderAction("Navigation", "Home"); }
		</div>
		<div class="navigation multi-level">
			<pre><code>Two-level horizontal navigation: @@Html.Menu(maxLevels: 2)</code></pre>
			@Html.Menu(maxLevels: 2)
		</div>
		<div id="content">
			@RenderBody()
		</div>
	</body>
</html>
